div.Home-Wrapper {
    padding: 5em;
    height: 75vh;
    width: 75vh;
    margin: auto;
    display: Flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button.begin-button{
    height: 4em;
    width: 5em;
    font-size: large;
}

